# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
env/

# Testy i narzędzia
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/
*.iml

# System
.DS_Store
Thumbs.db

# GitHub Classroom (puste placeholdery)
.github/.keep
